---
import Section from "../Section.astro";
import { type Work } from "@/types/cv";

import { work } from "@cv";

const works = work as Work[];
---

<Section title="Experiencia laboral">
  <ul>
    {
      works.map(
        ({
          name,
          position,
          url,
          startDate,
          endDate,
          responsibilitiesNProjects,
          achievements,
          technicalSkills,
          softSkills,
          aptitudes,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual";

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <div>
                    <time datetime={startDate} data-title={startDate}>
                      {startYear}
                    </time>
                    {" - "}
                    <time datetime={endDate} data-title={endDate}>
                      {endYear}
                    </time>
                  </div>
                </header>

                <footer class="flex column gap-8">
                  <h4>Responsabilidades y proyectos</h4>
                  <div>
                    {responsibilitiesNProjects.map((responsibility, index) => (
                      <div class="responsibilities-n-projects">
                        <p
                          data-title="Ver detalles"
                          data-content={responsibility}
                        >
                          {responsibility}
                        </p>
                      </div>
                    ))}
                  </div>

                  <h4>Logros</h4>
                  <ul>
                    {achievements.map((achievement, index) => (
                      <li>
                        <p>{achievement}</p>
                      </li>
                    ))}
                  </ul>

                  <h4>Habilidades técnicas</h4>
                  <ul>
                    {technicalSkills &&
                      technicalSkills.map((skill, index) => (
                        <li>
                          <p>{skill}</p>
                        </li>
                      ))}
                  </ul>

                  <h4>Habilidades blandas</h4>
                  <ul>
                    {softSkills &&
                      softSkills.map((skill, index) => (
                        <li>
                          <p>{skill}</p>
                        </li>
                      ))}
                  </ul>

                  <h4>Aptitudes</h4>
                  <ul>
                    {aptitudes &&
                      aptitudes.map((aptitude, index) => (
                        <li>
                          <p>{aptitude}</p>
                        </li>
                      ))}
                  </ul>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  .flex {
    display: flex;
  }

  .flex.column {
    flex-direction: column;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 0.75rem;
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      "Courier New",
      monospace;
    position: absolute;
    padding: 0.2rem 0.5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  [data-title] {
    position: relative;
  }

  .responsibilities-n-projects {
    margin: 0;
    padding: 0;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
