---
import Section from "../Section.astro";

import { getReferences } from "@/utils/db/getReferences";

const { user, lang } = Astro.props;

const { isValid, data = {} } = await getReferences({
  user,
  languageCode: lang,
});
const references = isValid ? data?.references : [];
---

<Section title="Referencias">
  <ul class="gap-2">
    {
      references.map(({ name, position, reference, url }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    <a href={url} title={`Ver ${name}`} target="_blank">
                      {name}
                    </a>
                  </h3>
                  <h4>{position}</h4>
                </div>
              </header>

              <footer>
                <p>{reference}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
