---
import Section from "@/components/Section.astro";
import { getReferences } from "@/utils/db/getReferences";
import { useTranslations } from "@/i18n/utils";

const { user, lang } = Astro.props;

const { isValid, data = {} } = await getReferences({
  user,
  languageCode: lang,
});
const references = isValid ? data?.references : [];

const hasReferences = references.length > 0;

const t = useTranslations(lang);
---

{
  hasReferences && (
    <Section title={t("references.title")}>
      <div class="d-flex flex-direction-column gap-8">
        {references.map(({ name, position, reference, url }) => {
          return (
            <div>
              <article class="nyx-color2-text-primary-on">
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>
                </header>

                <footer>
                  <p>{reference}</p>
                </footer>
              </article>
            </div>
          );
        })}
      </div>
    </Section>
  )
}

<style>
  ul {
    display: flex;
    flex-direction: column;
  }

  article h3 {
    font-weight: 500;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
