---
import Basic from "@/components/sections/Basic.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Awards from "@/components/sections/Awards.astro";
import Certificates from "@/components/sections/Certificates.astro";
import Projects from "@/components/sections/Projects.astro";
import Publications from "@/components/sections/Publications.astro";
import TechnicalSkills from "@/components/sections/TechnicalSkills.astro";
import SoftSkills from "@/components/sections/SoftSkills.astro";
import Languages from "@/components/sections/Languages.astro";
import Interests from "@/components/sections/Interests.astro";
import References from "@/components/sections/References.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

const { user } = Astro.props;
---

<main>
  {
    (
      <>
        <Basic user={user} />
        <About user={user} />
        <Experience user={user} />
        <Education user={user} />
        <Projects user={user} />
        <Awards user={user} />
        <Certificates user={user} />
        <Publications user={user} />
        <TechnicalSkills user={user} />
        <SoftSkills user={user} />
        <Languages user={user} />
        <Interests user={user} />
        <References user={user} />
        <KeyboardManager user={user} />
      </>
    )
  }
</main>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
